<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>STQ KIOSK</title>
        <link rel="icon" type="image/x-icon" href="/images/logo-small.svg">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,700;1,500;1,800&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
<body>
    <div class="container">
        <div class="header">
            <div class="kiosk-logo">
                <img src="{{ url_for('static', filename='images/logo-small.svg') }}" alt="Logo" class="logo">
                <div class="title-line"></div>
                <div class="kiosktitle">
                    <span class="kiosk-title1">SELF SERVICE</span>
                    <span class="kiosk-title2">KIOSK</span>       
                </div>
            </div>
            <div class="datetime">
                <span id="date-time"></span>
            </div>
        </div>
    
        <div class="video-section">
            <video id="video-ad" autoplay muted loop>
                <source src="{{ url_for('static', filename='videos/advertisement.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    
        <div class="start-button-container">
            <button class="start-button" onclick="start()">START</button>
        </div>
    
        <div class="footer">
            <p>Copyright ©️2024 STRATEQ SYSTEMS SDN. BHD. [Registration No. 198801007679 (175036-D)]. All Rights Reserved.</p>
        </div>
    </div>


</body>
</html>
