<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STQ KIOSK</title>
    <link rel="icon" type="image/x-icon" href="/images/logo-small.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,700;1,500;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="kiosk-logo">
                <img src="{{ url_for('static', filename='images/logo-small.svg') }}" alt="Logo" class="logo">
                <div class="title-line"></div>
                <div class="kiosktitle">
                    <span class="kiosk-title1">SELF SERVICE</span>
                    <span class="kiosk-title2">KIOSK</span>       
                </div>
            </div>
        </div>
        
        <h1>Hey,</h1>
        <h2>where's your vehicle?</h2>
        <div class="slots-container">
            <div class="slots-row">
                <div class="pumps">
                    <button class="pump-button" onclick="toggleOption(this)">
                        <img src="{{ url_for('static', filename='images/carIcon.svg') }}" alt="carIcon">
                        <span class="pump-text">1</span>
                    </button>
                    <button class="pump-button" onclick="toggleOption(this)">
                        <img src="{{ url_for('static', filename='images/carIcon.svg') }}" alt="carIcon">
                        <span class="pump-text">2</span>
                    </button>
                    <button class="pump-button" onclick="toggleOption(this)">
                        <img src="{{ url_for('static', filename='images/carIcon.svg') }}" alt="carIcon">
                        <span class="pump-text">3</span>
                    </button>
                    <button class="pump-button" onclick="toggleOption(this)">
                        <img src="{{ url_for('static', filename='images/carIcon.svg') }}" alt="carIcon">
                        <span class="pump-text">4</span>
                    </button>
                </div>
            </div>
        </div>    

        <h1>Choose fuel.</h1>
        <div class="buttons-container">
            <button class="fuel-button" id="fuel-ron95" onclick="toggleOption(this)">
                <img src="{{ url_for('static', filename='images/ron-95.png') }}" alt="RON 95">
            </button>
            <button class="fuel-button" id="fuel-ron97" onclick="toggleOption(this)">
                <img src="{{ url_for('static', filename='images/ron-97.png') }}" alt="RON 97">
            </button>
            <button class="fuel-button" id="fuel-euro5" onclick="toggleOption(this)">
                <img src="{{ url_for('static', filename='images/euro5.png') }}" alt="Euro 5">
            </button>
            <button class="fuel-button" id="fuel-diesel" onclick="toggleOption(this)">
                <img src="{{ url_for('static', filename='images/diesel.png') }}" alt="Diesel">
            </button>
        </div>


        <h1>How much?</h1>
        <div class="amount-options">
            <button class="amount-box" onclick="setPresetAmount(20)">RM 20</button>
            <button class="amount-box" onclick="setPresetAmount(30)">RM 30</button>
            <button class="amount-box" onclick="setPresetAmount(50)">RM 50</button>
            <button class="amount-box" onclick="setPresetAmount(80)">RM 80</button>
            <button class="amount-box" onclick="setPresetAmount(100)">RM 100</button>
            <button class="amount-box" onclick="setPresetAmount('other')">Other Amount</button>
            <button class="preauth-button">Full Tank</button>
        </div>

        <input type="range" id="amount-slider" min="0" max="100" value="0" step="1" oninput="updateAmount()" style="display: none;">
        
        <div class="checkout-section">
            <div class="checkout-content">
                <div class="total-label">Total</div>
                <div class="total-amount" id="amount-rm">RM 0</div>
                <div class="total-liters" id="amount-liters">Liters: 0.00</div>
                <div class="checkout-icon">
                    <img src="{{ url_for('static', filename='images/cart-icon.svg') }}" alt="Checkout">
                </div>
            </div>
        </div>
    </div>






    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
